.fotodeperfil {
  border-radius: 50%;
}
.position {
  position: relative;
  top: 40px;
  left: 40px;
}
.ImagenPrincipal {
  width: 100%;
}
.CuerpoTarjeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
}
.InfoTarjeta {
  display: flex;
  align-items: center;
}
